/* 4. création de la modal pour contact form 7 */

/* Styles pour le conteneur de la modal */
.modal-container 	 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998; /* en arrière-plan par rapport à la modal */
}

.overlay 	{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} 


/* Styles pour la modal */
.modal 	{
  width: 597px; /* a changer en % */
  height: 769px; /* Occupe toute la hauteur */
  margin: 0 auto;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid black;
  background-color: #ffffff;
  animation: animatetop 0.4s;
  z-index: 999; /* devant la couche semi-transparente */
}
.modal-header 	{
  margin-top: 10px;
  background-size: cover;
  height: 106px;
}
/* Styles pour le contenu de la modal */
.modal-content 	{
  position: relative;
  margin: 0 auto;
  width: 70%; /* Largeur de la modal */
}

/* Styles pour l'animation d'ouverture de la modal */

/* Classe ajoutée via JavaScript pour montrer la modal */
.modal-container.show	{
  display: block;
  animation: fadeInModal 1000ms forwards;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**** FORMULAIRE *****/
.wpcf7-form {
  margin-top: 45px;
  font-family: "Poppins", monospace;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #313144;
  text-transform: uppercase;
}

.wpcf7-form p {
  margin-top: 25px;
}

.wpcf7-text,
.wpcf7-textarea,
.wpcf7-submit {
  width: 100%;
  border: 1px solid #b8bbc2;
  border-radius: 8px;
}

.wpcf7-text {
  height: 40px;
}

.wpcf7-textarea {
  height: auto;
}

.wpcf7-submit {
  height: 50px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  background-color: #d8d8d8;
  line-height: 18px;
  border-radius: 2px;
}


/************************************************  11. Media queries   ***************************************************************/
/* Pour les écrans de taille inférieure à 782px, WordPress ajuste la hauteur de la barre d'administration à 46px */
@media screen and (max-width: 782px) {
  body.admin-bar .modal-container {
    top: 46px;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .modal {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 90vw;
    height: 90vh;
  }
  .modal-content {
    width: 85%;
  }
  .modal-header {
    margin-top: 10px;
  
    background-size: cover;
    height: 13%;
    margin-bottom: -25px;
  }
  .wpcf7-textarea {
    height: auto;
  }
  textarea.wpcf7-textarea.wpcf7-not-valid {
    height: 137px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .modal {
    width: 60vw;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .modal {
    width: 60vw;
  }
}