/* 8.1. Styles pour l'article */
  /* 8.2. style du premier bloc: photo et attribut */
.post {
    width: 100%;
    display: flex; /* Utilisation de flexbox pour aligner les blocs */
    flex-wrap: wrap; /* Les blocs passent à la ligne lorsque l'écran est étroit */
    justify-content: center;
    align-items: end;
    justify-content: space-between; /* Espacement entre les blocs */
    margin: 0 auto;
  }
  
  /* Styles pour le bloc de détails de la photo (50% de largeur) */
  .photo-details {
    flex-basis: 50%; /* 50% de largeur */
    padding-bottom: 20px; /* Ajoutez une marge intérieure pour l'espace */
    Margin-top: 20px;
    box-sizing: border-box; /* Pour inclure la marge intérieure dans la largeur de 50% */
    border-bottom: 1px solid black;
    font-family: "Space Mono";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .photo-details h2 {
    font-family: "Space Mono";
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
  }

  .photo-details p {
  margin-top: 20px;
  }
  /* Styles pour le bloc de l'image de la photo (50% de largeur) */
  .photo-image {
    flex-basis: 50%; /* 50% de largeur */
    display: flex; /* Utilisation de flexbox pour centrer l'image */
    justify-content: center; /* Centrage horizontal de l'image */
    align-items: center; /* Centrage vertical de l'image */
  }
  
  /* Styles pour l'image de la photo */
  .photo-image img {
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur du bloc */
    height: auto; /* Maintient le rapport largeur/hauteur de l'image */
  }
  .additional-content {
    display: flex;
    width: 100%;
    height: 118px;
    justify-content: space-between;
    align-items: center;
    font-family: "Space Mono", monospace;
    border-bottom: 1px solid black;
  }

  .text-contact-container {
    display: flex;
    align-items: center;
}

.text-contact-container p {
   padding-right: 40px;
}

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Space Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    background-color: #d8d8d8;
  }
  
  .contact:hover {
    transform: scale(1.05);
    background-color: #000000;
    color: #ffff;
    font-weight: 700;
  }

  /* 8.6. Styles pour les flèches de navigation */
  .thumbnail-container {
    display: none;
    position: relative;
    z-index: 1; /* Pour empêcher de se superposer aux flèches */
  }
  /*
  .thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  */
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 7%;
  }
  
  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100px;
  }
  
  .thumbnail img {
    width: 81px;
    height: 81px;
  }
  
  .arrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .prev-link,
  .next-link {
   /* font-size: 24px;*/
  }
  
  .nav-link:hover .thumbnail img {
    display: block;
  }
  
  /**** 8.7. photos apparentees *****/
  .photo-appart {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .photo-appart h3 {
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  .photo-suggest {
    margin-top: 45px;
    display: flex;
    gap: 20px;
  }

  /*********************************************    11. Media Queries    ****************************************************************/
@media (max-width: 767px) {
  .full-screen-section {
   /* flex-direction: column;*/
    width: 75%;
  }
  .photo-details,
  .photo-image,
  .additional-content {
    flex-basis: 100%;
    padding-bottom: 20px;
    justify-content: center;
    order: 3;
  }

  .photo-details h2 {
    font-size: 50px;
  }
  .text-contact-container {
    flex-direction: column;
    width: 90%;
  }

  .text-contact-container p,
  .text-contact-container a {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
  }
  .navigation {
    display: none;
  }

  .related-photo-section {
    width: 90%;
  }
  .photo-suggest {
    gap: 0;
  }

  .photo-details {
    order: 2;
  }
  .photo-image {
    order: 1;
  }

  .photo-appart h3 {
    text-align: center;
  }

  .photo-appart {
    margin-left: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .photo-details {
    flex-basis: 48%;
  }
  .photo-image {
    flex-basis: 48%;
  }
  .photo-items {
    width: 48%;
  }
  .text-contact-container {
    width: 80%;
  }
  .navigation {
    width: 13%;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
}